/* Container principal */
.despesa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%; /* Altura mínima para preencher a tela */
  padding: 20px;
  background-size: cover; /* Faz com que a imagem cubra todo o fundo */
}

/* Formulário de despesa */
.despesa-form {
  border: 0.1rem solid #82d690;
  display: flex;
  width: max-content;
  flex-direction: column;
  align-items: center; /* Centraliza o formulário horizontalmente */
  width: 100%;
  max-width: 900px; /* Limita a largura do formulário */
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.total-container {
  color: black;
}

/* Título do formulário */
.despesa-form h1 {
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

/* Container para campos do formulário e calendário */
.form-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap; /* Permite que os elementos quebrem linha em telas menores */
}

/* Campos do formulário */
.form-fields {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Estilo dos campos de entrada e dropdown */
.despesa-form .field input,
.despesa-form .field .ui.dropdown {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

/* Estilo dos rótulos dos campos */
.despesa-form .field label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

/* Campo de data */
.date-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Container do calendário */
.calendar-container {
  padding: 2rem;
  border-radius: 2rem;
  background: #ececec;
  flex: 1;
  width: max-content;
  height: max-content;
  flex-direction: column;
  justify-items: center;
}

/* Título do calendário */
.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Container para o botão de salvar */
.save-button-container {
  display: flex;
  justify-content: center; /* Centraliza o botão horizontalmente */
  width: 100%; /* Ocupa toda a largura disponível */
  margin-top: 40px; /* Espaço acima do botão */
}

/* Botão de salvar */
.save-button {
  background-color: rgb(152, 251, 152) !important;
  color: black !important;
  padding: 15px 30px !important;
  font-size: 1.5rem !important;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-button:hover {
  background-color: rgb(123, 208, 123);
}

/* Calendário */
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: #ececec;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border-radius: 100%;
  border: 0.1px solid #82d690;
  outline: none;
  padding: 10px;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
  gap: 5px;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: #75ff8c;
  border-radius: 4px;
  font-size: 1.2rem;
}

.react-calendar__navigation button:disabled {
  background-color: #00ff2a;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background: #0b9622;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  border: 1px solid #00ff2a;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #2bff00;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #2bff00;
}

.react-calendar__tile--now {
  background: #06a0bb75;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #2bff00;
}

.react-calendar__tile--hasActive {
  background: #2bff00;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #2bff00;
}

.react-calendar__tile--active {
  background: #2bff00;
  border: 2px solid black;
  color: black;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #48ff1096;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #00ff2a8f;
}
.filter-container {
  width: 100vw;
  height: max-content;
}
/* Media Queries para dispositivos móveis */
@media (max-width: 768px) {
  .despesa-form {
    padding: 15px;
  }

  .form-content {
    flex-direction: column;
    gap: 10px;
  }

  .calendar-container {
    width: 100%;
    padding: 1rem;
  }

  .save-button {
    font-size: 1.2rem !important;
    padding: 10px 20px !important;
  }
}
.grupoRecorrente {
  display: flex !important;
  flex-direction: row !important;
  width: 100% !important;
  align-items: center;
}
.dropdownFrequencia {
  display: flex !important;
  height: max-content !important;
  width: 100% !important;
}

.custom-radio .ui.toggle.checkbox .box:before,
.custom-radio .ui.toggle.checkbox label:before {
  background-color: rgb(230, 173, 173) !important;
}

.custom-radio .ui.toggle.checkbox input:checked ~ .box:before,
.custom-radio .ui.toggle.checkbox input:checked ~ label:before {
  background-color: rgba(152, 251, 152, 0.733) !important;
}
