/* Header da página */
.containerHeader {
    width: 100% !important;
    text-align: center !important;
    margin-bottom: 1rem !important;
    color: white;
  }
  
  /* Container da lista de categorias */
  .listaCategorias {
    display: flex !important;
    width: 100% !important;
    height: 100% !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: center !important;
  }
  
  /* Ícone da lista */
  .list-icon {
    height: 1rem !important;
    width: max-content !important;
    place-self: center !important;
    color: white !important;
    font-size: 2.5rem !important;
  }
  
  /* Item da lista */
  .list-item {
    justify-items: center !important;
    align-items: center !important;
    border-radius: 1rem !important;
    background: black !important;
    padding: 1rem !important;
    border-bottom: 0.1rem solid white !important;
  }
  
  /* Descrição do item da lista */
  .list-description {
    color: white !important;
  }
  
  /* Segmento de categorias */
  .segment-categorias {
    background-color: black !important;
    margin: 0 !important;
  }
  
  /* Lista de itens */
  .lista-items {
    place-items: center !important;
    background-color: white !important;
  }
  
  /* Estilo dos itens da lista */
  .items-lista {
    padding: 0.5rem !important;
    margin: 0 !important;
    justify-items: center;
  }
  
  /* Cabeçalho das categorias */
  .header-categorias {
    font-size: x-large !important;
    text-align: center !important;
    color: rgb(0, 255, 0) !important;
  }
  
  /* Cabeçalho de outros elementos */
  .header-outros {
    font-size: x-large !important;
    text-align: center !important;
    color: rgb(255, 0, 0) !important;
  }
  
  /* Cabeçalho da lista */
  .list-header {
    background: black !important;
    color: white !important;
    font-size: 1.5em !important;
    margin-bottom: 0.5rem !important;
    text-align: center !important;
  }
  
  /* Container de categorias */
  .categorias {
    display: flex !important;
    flex-direction: row !important;
  }
  
  /* Total de categorias */
  .totalCategorias {
    margin-left: 5rem !important;
  }
  
  /* Botão de cadastrar categoria */
  .btnCadastrarCategoria {
    width: max-content !important;
    display: block !important;
    margin: 1rem auto !important;
    padding: 0.5rem 1rem !important;
    background-color: rgb(43, 187, 14) !important;
    color: white !important;
    border: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    font-size: 1.5em !important;
  }
  
  /* Hover no botão de cadastrar categoria */
  .btnCadastrarCategoria:hover {
    background-color: black !important;
  }
  