.forgot-password-left {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.social-links {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.social-link {
  text-align: center;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
  .forgot-password-left {
    padding: 1rem;
  }

  .infoLogo {
    width: 50%;
  }


  .social-link {
    margin-bottom: 1rem;
  }

  .social-link a {
    font-size: 1rem;
  }
}