.acoes
{
display:flex;
flex-direction:row;
gap:1rem;
width: max-content;
justify-content: space-around;

}

.lista
{
height:100%!important;
padding:0px!important;
margin: 0!important;
display:flex!important;
flex-direction:column!important;
width:max-content!important;
}
.lista-acoes
{
height:100%!important;
width: max-content!important;
padding:0!important;
margin: 0!important;
display:flex!important;
flex-direction:column!important;
gap:0.5rem!important;
position:relative!important;
}
.acoes-linha
{
  display: flex!important;
  flex-direction: row!important;
  justify-content: space-between!important;
  gap: 0.5rem !important;
  padding: 0!important;
  margin: 0 !important;;
  width:max-content!important;
}
.text-acao{
  display: flex!important;
  width: max-content!important;
  cursor: crosshair!important;
}


.altas-item{
  display: flex!important;
  align-items: center!important;
  flex-direction: column!important;
  background-color:rgba(70, 157, 48, 0.20999999344348907)!important;
  border: 1px solid green!important;
  height:max-content!important;
  width: max-content!important;
border-radius:10px!important;
padding:0.3rem!important;
position:relative!important;
  color: white;
}
.baixas-item{
  display: flex!important;
  flex-direction: column!important;
  align-items: center!important;
  background-color:rgba(157, 48, 48, 0.20999999344348907)!important;
  border: 1px solid red!important;
height:max-content!important;
width:max-content!important;
border-radius:10px!important;
position:relative!important;
  color: white;
  padding:0.3rem!important;

}