/* ListaReceitas.css */

/* Container principal */
.receitas {
  border: 1px solid #000!important;
  margin: 2rem!important;
  width: 100%!important; /* Altere para 100% para manter a consistência com ListaDespesas */
  height: max-content!important;
  padding: 2rem!important;
  border-radius: 2rem;
}

/* Cabeçalho do container */
.containerHeader {
  width: 100%!important;
  text-align: center!important;
  margin-bottom: 1rem!important;
}

/* Container da lista de receitas */
.listaReceitas {
  display: flex!important;
  width: 100%!important;
  height: auto!important; /* Mudei para auto para melhor adaptação ao conteúdo */
  flex-wrap: wrap!important;
  justify-content: center!important;
  align-items: center!important;
}

/* Ícones da lista */
.list-icon {
  height: 1rem!important;
  width: max-content!important;
  place-self: center!important;
  color: white!important;
  font-size: 2.5rem!important;
}

/* Itens da lista */
.list-item {
  justify-items: center!important;
  align-items: center!important;
  border-radius: 1rem!important;
  background: black!important;
  padding: 1rem!important;
  border-bottom: 0.1rem solid white!important;
  margin-bottom: 1rem!important; /* Adicionado para separar os itens da lista */
}

/* Descrição dos itens da lista */
.list-description {
  color: white!important;
}

/* Cabeçalho dos itens da lista */
.list-header {
  background: black!important;
  color: white!important;
  font-size: 1.5em!important;
  margin-bottom: 0.5rem!important;
  text-align: center!important;
}

/* Total de receitas */
.totalReceitas {
  margin-left: 5rem!important;
}

/* Botão de cadastrar receita */
.btnCadastrarReceita {
  width: max-content!important;
  display: block!important;
  margin: 1rem auto!important;
  padding: 0.5rem 1rem!important;
  background-color: rgb(43, 187, 14)!important;
  color: white!important;
  border: none!important;
  border-radius: 4px!important;
  cursor: pointer!important;
  font-size: 1.5em!important;
}

/* Hover no botão de cadastrar receita */
.btnCadastrarReceita:hover {
  background-color: black!important;
}
