
.form-field {
  width: 100%;
  margin: 0 auto 15px auto;
}



.label-input {
  display: flex!important;
  flex-direction: row!important;
  justify-content: space-between!important;
}
.inputSuccess {
  padding: 0px!important;
  width: max-content!important;
  height: max-content!important;
  color: green;
  padding-left:  10px!important;
  padding-right: 10px !important;
}
.inputError {
  padding: 0px !important;
  width: max-content !important;
  height: max-content !important;
  color: red;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.login-link {
  color: rgb(102, 218, 113);
  font-size: 1.2rem;
}

label {
  text-align: left !important;
  display: block;
  margin-bottom: 5px;
}