

.register-left {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-right {
  flex: 1;
  padding: 20px;
  display: flex;
  align-items: center!important;
  flex-direction: column;
  justify-content: center;
}


.register-button {
  background-color: rgb(152, 251, 152) !important;
  color: black !important;
  margin-top: 20px;
  padding: 15px 30px !important;
  font-size: 1.5rem !important;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
  .form-field .input-field{
    width: 80vw!important;
  }
  .register-container {
    width: 100vw!important;
    flex-direction: column-reverse;
    height: auto;
  }

  .register-left, .register-right {
    width: 100vw!important;
  }

  .modal-content {
    max-width: 90vw;
  }

  .modal-header, .modal-message {
    padding: 0.5rem!important;
  }

  .register-button {
    width: 100%;
    padding: 10px 20px !important;
    font-size: 1rem !important;
  }

  .forgot-senha {
    text-align: center;
  }

  .register-link {
    font-size: 2rem !important;
  }

  .register-link:hover {
    font-size: 2rem !important;
  }
}