.forgot-password-right {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.form-field {
  width: 100%;
  margin: 0 auto 15px auto;
}


.forgot-password-button {
  background-color: rgb(152, 251, 152) !important;
  color: black !important;
  margin-top: 20px;
  padding: 15px 30px !important;
  font-size: 1.5rem !important;
}

.register-link {
  color: rgb(102, 218, 113);
  font-size: 1.2rem;
}

label {
  text-align: left !important;
  display: block;
  margin-bottom: 5px;
}
