
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.home {
  height: 100vh;
  background: url("../../assets/banner.png") repeat; /* Caminho para a imagem de textura */
}
.header {
  margin: 1rem;
}