body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.input-field {
  width: 100%;
  background-color: rgba(152, 251, 152, 0.733) !important;
  color: rgb(0, 0, 0) !important;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.input-field::placeholder {
  color: rgba(0, 0, 0, 0.671)!important;
}
.footer {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  height: max-content;
  width: 100%;
  align-items: center;
}


p{
  font-size: 1.5rem;
  width: 100%!important;
  height: max-content!important;
}

.footer-link {
  height: max-content;
  width: max-content;
  color: rgb(102, 218, 113);
  font-size: 4rem !important;
  text-shadow:
    0.2rem 0.2rem 0.3rem #0000004f,
    0.2rem 0.2rem 0.3rem #0000004f,
    0.2rem 0.2rem 0.3rem #0000004f,
    0.2rem 0.2rem 0.3rem #0000004f;
}

.footer-link:hover {
  color: rgb(0, 0, 0);
  font-size: 4rem !important;
  text-shadow:
    0.2rem 0.2rem 3rem rgb(102, 218, 113),
    0.2rem 0.2rem 3rem rgb(102, 218, 113),
    0.2rem 0.2rem 3rem rgb(102, 218, 113),
    0.2rem 0.2rem 3rem rgb(102, 218, 113);
}